<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=algattikwas;AccountKey=45tzlOUt5hHPodn0fAC9QW3P87HaJF+E90I0ZYXYRNX9HMCMc
Hn8HEqtkNJLRNJn9YLH1lVqeGJjV1JrO+jeBA=="/>
    <add key="AdvWorksConnectionString" value="Server=tcp:algattiksql5.database.windows.net;Initial Catalog=algattikdb;Persist Security Info=False;User ID='zeus'
;Password='478AaAq#*13b';MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
  </appSettings>
</configuration>